<h1>
  <%= @user.name %>'s Closet
</h1>
<p>
  <%= @user.status %>
</p>

<p>
  <%= link_to "♥ Posts", favorites_user_path(@user) %>
</p>

<h3>Calendar</h3>

<%= link_to 'Add Post', new_post_path %>

<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>

  <% posts.each do |post| %>
    <div>
      <%= link_to post.title, post %>
    </div>
  <% end %>
<% end %>