<div class="bg-white-all width-100">
  <h2 class ="text-center pt-5 margin-top">Sign In</h2>

  <div class="mx-auto my-4 width-50">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="field form-inline border-bottom-gray">
        <i class="far fa-envelope mr-1"></i>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-no"%>
      </div>

      <div class="field form-inline border-bottom-gray">
        <i class="fas fa-key mr-1"></i>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "border-no"%>
      </div>

      <div class="section1 text-center">
        <button type="submit" class="btn btn-red">
          Sign In
        </button>
      </div>

    <% end %>
  </div>

  <p class ="text-center pb-5">
    <%= link_to "Create on Account", new_user_registration_path %>
  </p>

</div>
