<h1>New Item</h1>

<%= form_with model: @item, local:true do |f| %>
  <h4>Name</h4>
  <%= f.text_field :name %>

  <h4>Image</h4>
  <%= f.attachment_field :image %>

  <h4>introduction</h4>
  <%= f.text_area :introduction %>

  <h4>Type</h4>
  <%= f.select :type, Item.types.map{|key, value| [I18n.t("enums.item.type.#{key}"), value]}, { include_blank: '-- 選択してください --'} %>

  <h4>Color</h4>
  <%= f.select :color, Item.colors.map{|key, value| [I18n.t("enums.item.color.#{key}"), value]}, { include_blank: '-- 選択してください --'} %>

  <h4>Pattern</h4>
  <%= f.select :pattern, Item.patterns.map{|key, value| [I18n.t("enums.item.pattern.#{key}"), value]}, { include_blank: '-- 選択してください --'} %>

  <h4>Season</h4>
  <%= f.select :season, Item.seasons.map{|key, value| [I18n.t("enums.item.season.#{key}"), value]}, { include_blank: '-- 選択してください --'} %>

  <%#= f.check_box :season, {}, "spring", "" %>
  <%#= f.label :season, Item.seasons_i18n[:spring] %>
  <%#= f.check_box :season, {}, "summer", "" %>
  <%#= f.label :season, Item.seasons_i18n[:summer] %>
  <%#= f.check_box :season, {}, "autumn", "" %>
  <%#= f.label :season, Item.seasons_i18n[:autumn] %>
  <%#= f.check_box :season, {}, "winter", ""%>
  <%#= f.label :season, Item.seasons_i18n[:winter] %>

  <div>
    <%= f.submit 'Create' %>
    <%= link_to "Back", request.referer %>
  </div>
<% end %>