<h1>Items</h1>

<h3>Item Search</h3>
<%= search_form_for @q, url: search_items_path do |f| %>
  <%= f.label :name_cont, 'Item Name' %>
  <%= f.search_field :name_cont %>
  <%= f.label :type, 'Type' %>
  <%= f.select :type, options_for_select(Type.all.pluck("name_#{I18n.locale}, id"), @item.type_id), { include_blank: '指定なし'} %>
  <%= f.label :color, 'Color' %>
  <%= f.select :color, options_for_select(Color.all.pluck("name_#{I18n.locale}, id"), @item.color_id), { include_blank: '指定なし'} %>
  <%= f.label :pattern, 'Pattern' %>
  <%= f.select :pattern, options_for_select(Pattern.all.pluck("name_#{I18n.locale}, id"), @item.pattern_id), { include_blank: '指定なし'} %>
  <%= f.label :season, 'Season' %>
  <%= f.select :season, options_for_select(Season.all.pluck("name_#{I18n.locale}, id"), @item.season_id), { include_blank: '指定なし'} %>
  <br>
  <%= f.submit 'Search' %>
<% end %>

<div>
  <%= link_to "Add", new_item_path %>
</div>

<table class="table-bordered mx-auto">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Color</th>
    <th>Pattern</th>
    <th>Season</th>
    <th></th>
  </thead>
  <tbody>
    <% @results.each do |item| %>
    <tr>
      <td><%= attachment_image_tag item, :image, :fill, 40, 40 %></td>
      <td><%= item.name %></td>
      <td><%= item.type.name if item.type != nil  %></td>
      <td><%= item.color.name if item.color != nil  %></td>
      <td><%= item.pattern.name if item.pattern != nil  %></td>
      <td><%= item.season.name if item.season != nil  %></td>
      <td><%= link_to "Show", item_path(item.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>