<h1><%= @item.name %></h1>

<div>
  <div>
    <%= attachment_image_tag @item, :image, :fill, 400, 300 %>
  </div>
  <div>
    <p>Type：<%= @item.type_i18n %></p>
    <p>Color：<%= @item.color_i18n %></p>
    <p>Pattern：<%= @item.pattern_i18n %></p>
    <p>Season：<%= @item.season_i18n %></p>
  </div>
</div>

<div>
  Memo<br>
  <%= @item.introduction %>
</div>

<div>
  <%= link_to "Edit", edit_item_path(@item) %>
  <%= link_to "Back", request.referer %>
</div>
