<h1><%= @item.name %></h1>

<div>
  <div>
    <%= attachment_image_tag @item, :image, :fill, 400, 300 %>
  </div>
  <div>
    <p>Type：<%= @item.type.name if @item.type != nil %></p>
    <p>Color：<%= @item.color.name if @item.color != nil %></p>
    <p>Pattern：<%= @item.pattern.name if @item.pattern != nil %></p>
    <p>Season：<%= @item.season.name if @item.season != nil %></p>
  </div>
</div>

<div>
  Memo<br>
  <%= @item.introduction %>
</div>

<div>
  <%= link_to "Edit", edit_item_path(@item) %>
  <%= link_to "Back", request.referer %>
</div>
