<div class="bg-white-all width-80 my-5 mx-auto">
  <h2 class ="text-center pt-5 margin-top">Post Edit</h2>
  <div class="mx-auto my-4 width-50">
    <%= form_with model: @post, local:true do |f| %>

    <div class="field form-inline">
      <h5 class="mr-3">Title</h5>
      <%= f.text_field :title %>
    </div>

    <div class="field form-inline">
      <h5 class="mr-3">Date</h5>
      <%= f.date_select(:start_time, default: Date.today, :use_month_numbers => true) %>
    </div>

    <div class="field form-inline">
      <h5 class="mr-3">Body</h5>
      <%= f.text_area :body %>
    </div>

    <div class="field form-inline">
      <h5 class="mr-3">Image</h5>
      <%= f.attachment_field :image %>
    </div>

    <div class="field form-inline">
      <h5 class="mr-3">Tag</h5>
      <%= f.text_field :tag_list, value: @post.tag_list.join(','),  placeholder: "例: デート,ランチ" %>
    </div>


    <div class="text-center pb-5">
      <%= f.submit 'Updete', class:"btn btn-blue" %>
      <%= link_to "Delete", post_path(@post), method: :delete, class: "btn mx-5 btn-red" %>
    </div>
  <% end %>
  </div>
</div>