<h1>Posts</h1>

<% if @tags.present? %>
 <% @tags.each do |tag| %>
 <%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name) %>
 <% end %>
<% else %>
 登録されているタグはありません
<% end %>

<% @posts.each do |post| %>
<div>
  <%= attachment_image_tag post, :image, :fill, 400, 300 %>
  <p>Title：<%= link_to post.title, post_path(post.id) %></p>
  <p>Date：<%= post.created_at.strftime('%Y/%m/%d') %></p>
  <p>User Name：<%= post.user.name %></p>
</div>
<% end %>
