<!DOCTYPE html>
<html>
  <head>
    <title>MyCloset</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/adc8ff6a3d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-sm-12">
           <%= yield %>
        </div>
        <div class="col-lg-2 margin-top">
          <%= image_tag 'logo.jpg', :size =>'200x200' %>
          <% if user_signed_in? %>
          <div class = "width-50 mx-auto menu">
             <li>
              <%= link_to "Top", root_path %>
            </li>
            <li>
              <%= link_to "User Top", user_path(current_user) %>
            </li>
            <li>
              <%= link_to "User Edit", edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Item", items_path %>
            </li>
            <li>
              <%= link_to "Post", posts_path %>
            </li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
          </div>
          <% else %>
          <div class = "width-50 mx-auto menu">
            <li>
              <%= link_to "Top", root_path %>
            </li>
            <li>
              <%= link_to "Adout", about_path %>
            </li>
            <li>
              <%= link_to "Sign in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
